{% extends 'base.html.twig' %}

{% block title %}New Empreint{% endblock %}

{% block body %}
    <h1>Create new Empreint</h1>

    {{ include('empreint/_form.html.twig') }}

    <a href="{{ path('app_empreint_index') }}">back to list</a>
{% endblock %}
