{% extends "base.html.twig" %}
{% block body %}
    <ul class="list-group">
        <li class="list-group-item">Livre 1 <div class="d-grid gap-2 d-md-flex justify-content-md-end"><a class="btn btn-primary" href="#" role="button">Reserver</a></div></li>
        <li class="list-group-item">Livre 2 <div class="d-grid gap-2 d-md-flex justify-content-md-end"><a class="btn btn-primary" href="#" role="button">Reserver</a></div></li>
        <li class="list-group-item">Livre 3 <div class="d-grid gap-2 d-md-flex justify-content-md-end"><a class="btn btn-primary" href="#" role="button">Reserver</a></div></li>
        <li class="list-group-item">Livre 4 <div class="d-grid gap-2 d-md-flex justify-content-md-end"><a class="btn btn-primary" href="#" role="button">Reserver</a></div></li>
        <li class="list-group-item">Livre 5 <div class="d-grid gap-2 d-md-flex justify-content-md-end"><a class="btn btn-primary" href="#" role="button">Reserver</a></div></li>
    </ul>
{% endblock %}