{% extends "base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Bonjour !!</h1>
        <p class="lead">Bienvenue sur le site de la bibliothèque scolaire, vous pourrez eemprinter les livres d'ont vous avez besoin selon ce que le professeur vous demande, mais avant cela vous devez vous connecter.</p>
        <hr class="my-4">
        <p>Les comptes sont attribué par votre école, utiliser le papier que l'ont vous à donner en cours.</p>
        <a class="btn btn-primary btn-lg" href="/login" role="button">Connexion</a>
    </div>
{% endblock %}
